{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">一般名称</th>
                <th scope="col">メーカー名</th>
                <th scope="col">商品名</th>
                <th scope="col">在庫数</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{object.name}}</th>
                <td>{{object.productname}}</td>
                <td>{{object.company}}</td>
                <td>{{object.stocknum}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a class="btn btn-primary btn-sm" href="{% url 'plus' object.pk %}" role="button"> ＋ </a>
    <a class="btn btn-warning btn-sm" href="{% url 'mainas' object.pk %}" role="button"> ー </a>
    <a class="btn btn-danger btn-sm" href="{% url 'list' %}" role="button">削除</a>
    <br>
    <br>
    <a href="{% url 'list' %}" class="btn btn-dark btn-sm active" role="button" aria-pressed="true">戻る</a>
</div>

{% endblock content %}